.image {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
}

.swatch {
  padding: 5px 0 5px 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 3px 3px 1px rgba(0,0,0,.05);
  display: inline-block;
  cursor: pointer;
  width: 110px;
  text-align: center;
  color: #777777;
  font-weight: 700;
}

.popover {
  position: absolute;
  z-index: 2;;
  padding-bottom: 10px;
  margin-top: 5px;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* float: right; */
}

.color-box {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background: bgColor;
  float: right;
  margin-right: 5px;
}

.text-left {
  width: 25%;
  margin-left: 5%;
  padding: 5px 0 5px 5px;
  font-weight: 600;
  font-size: 18px;
  color: #4f545c;
}

.text-url {
  padding: 5px 0 5px 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 3px 3px 1px rgba(0,0,0,.05);
  display: inline-block;
  margin-left: 5%;
  margin-right: 1%;
  width: auto;
  text-align: center;
  color: #777777;
  font-weight: 700;
  font-size: 16px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.trash:hover {
  filter: invert(10%) sepia(83%) saturate(3575%) hue-rotate(354deg) brightness(98%) contrast(117%);
}

.pencil:hover {
  filter: invert(28%) sepia(79%) saturate(1246%) hue-rotate(83deg) brightness(101%) contrast(106%);
}

.input-noborder {
  border: 0;
  outline: 0;
  background-color: transparent;
  text-align: center;
  width: 100%;
}

.input-noborder:focus {
  outline: none!important;
}
